{% extends "base.html" %}

{% block content %}
    <div class ="container">
        <h1>Movie Review Sentiment Analysis</h1>
        <hr>
        <form action="{{url_for('index')}}" method="POST">
            
            <div class="form-group">
                <label for="sentence">Review in English</label>
                <textarea class="form-control rounded-0" name ="sentence" rows="4"></textarea>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Predict" class="btn btn-default">
            </div>

            <div class="alert alert-info">
                <strong>Info!</strong> model is <mark>not</mark> trained on <mark>sarcasm</mark>. 
            </div>
        </form>
    </div> 
{% endblock %}